*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header .row{
    margin: 70px;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

p{
    color: #555;
}

nav{
    flex: 1;
    text-align: right;
}

ul{
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color:#555;
}

header p{
    color:white;
}

.btn{
    background: #FF0000;
    color: white;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;}

.col-2 h1{
    font-size: 50px;
    margin: 25px 0;
}

.smal-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

footer{
    background: black;
    color: grey;
    font-size: 14px;
    padding: 60px 0 20px;
}

footer p{
    color: grey;
}

footer h3{
    color: white;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3{
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1{
    flex-basis: 30%;
}

.footer-col-1 img{
    width: 50%;
    margin-bottom: 20px;
}

.footer-col-3{
    flex-basis: 12%;
}

.cart{
    margin: 80px auto;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.cart-info{
    display: flex;
    flex-wrap: wrap;
}

th{
    text-align: left;
    padding: 5px;
    color: white;
    background: #FF0000;
    font-weight: normal;
}

td{
    padding: 10px 5px;
}

td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a{
    color: #FF0000;
    font-size: 12px;
    cursor: pointer;
}

td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price{
    display: flex;
    justify-content: flex-end;
}

.total-price table{
    border-top: 3px solid #FF0000;
    width: 100%;
    max-width: 400px;
    margin-bottom: 30px;
}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}

.btn-purchase{
    background: #FF0000;
    color: white;
    height:50px;
    width:100px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}